* {
  z-index: 1;
}

body {
  position: relative;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.0);
  border-radius: 10px;
  z-index: 0;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255,255,255,0);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255,255,255,0);
    transform: scale(1, 1);
  }
}
