.card{
  display: inline-block;
  border: 1px darkred solid;
  border-radius: 5px;
	position: relative;
  width: 18%;
  margin: 0.2%;
  background-color: white;
  font-size: 0.5em;
}
.card:before{
	content: "";
	display: block;
	padding-top: 140%;
}
.card-content{
  border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.hidden {
  display: none;
}
.next-card {
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px purple;
        box-shadow: 0 0 20px purple;
}
.card-top-left, .card-middle, .card-bottom-right {
  margin: 0;
  position: absolute;
  font-size: 1.1em;
  font-family: Helvetica sans-serif;
}
.card-top-left {
top: 6%;
left: 6%;
}
.card-middle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
}
.card-bottom-right {
  bottom: 6%;
  right: 6%;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
}

/* start of tablet devices */
@media screen and (min-width: 768px) {
  .card{
    border: 2px darkred solid;
    border-radius: 10px;
  }
  .next-card {
    -webkit-box-shadow: 0 0 30px purple;
          box-shadow: 0 0 30px purple;
  }
  .card-top-left, .card-middle, .card-bottom-right {
    font-size: 3em;
  }
  .card-middle {
    font-size: 12em;
  }

}
/* start of desktop devices */
@media screen and (min-width: 1024px) {


}
