body {
  background-color: purple;
}
#header {
  padding: 2em;
  height: 20vh;
  min-height: 100px;
  font-family: "Segoe Script", "Script", "Georgia", serif;
}
#header > h1 {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 0.5em;
  background-color: rgba(255,255,255,0.8);
  font-size: 2em;
  font-weight: bold;
  border: 3px solid lightgray;
  border-radius: 10px;
  text-shadow: 2px 2px rgba(150,150,150,0.7);
  box-shadow: 2px 1px 2px lightgray;
}
#menu {
  margin: 3em auto;
  width: 80%;
}
#menu ul {
  text-align: center;
  margin: auto;
  width: 80%;
}
#menu li {
  margin: 0 1em;
  padding: 0.1em 0.7em;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  background-color: rgba(255,255,255,0.8);
  font-weight: bold;
  border: 3px solid lightgray;
  border-radius: 10px;
  text-shadow: 2px 2px rgba(150,150,150,0.7);
  box-shadow: 2px 1px 2px lightgray;
}
#container {
  width: 90%;
  margin: auto;
  min-height: 600px;
  text-align: center;
}
#cardRack {
  border: 3px solid lightgray;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 2px 1px 2px lightgray;
  min-height: 100px;
  width: 90%;
  margin: 3em auto;
}
#buttonControls button {
  border-radius: 10px;
  margin: 0 0.5em;
  padding: 0.1em 0.7em;
  box-shadow: 1px 1px lightgray;
}
.higher-lower-pressed {
  color: red;
}
#question-output {
  height: 20vw;
  min-height: 200px;
  width: 80%;
  margin: auto;
}
#game-output {
  height: 10vw;
  min-height: 100px;
  width: 80%;
  margin: auto;
}
.highlight-correct-answer {
  background-color: green;
}









//Media queries

     /* start of large tablet styles */
@media screen and (max-width: 991px) {


}
     /* start of medium tablet styles */
@media screen and (max-width: 767px) {


}
     /* start of phone styles */
@media screen and (max-width: 479px) {


}
